__pycache__/
Applications/ocra/.DS_Store
Applications/ocra/assembler.log
Applications/.DS_Store
.DS_Store
Applications/ocra/acq_data_1
Applications/ocra/acq_data_2
Applications/ocra/assembler.log
Applications/ocra/assembler.log
