<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="navContainer">
      <header>
<!--        <img src="img/jetStream_logo_header.png"> -->
         <a href="{{ site.url }}/"><img src="{{ site.url }}/assets/images/welcome/ocra_small.png" style="width:32px; margin-right:3px">OCRA MRI</a>
      </header>
      <nav>
      <a href="{{ site.url }}/"><img src="{{ site.url }}/assets/images/welcome/ocra_small.png" style="width:32px; margin-right:3px">OCRA MRI</a>
      <a href="{{ site.url }}/installation">Installation</a>
      <a href="{{ site.url }}/hardware">Hardware</a>
      <a href="{{ site.url }}/gui">GUI</a>
      </nav>      
      <div class="sponsor">
	sponsors<br />
        <a href="https://www.manchester.ac.uk"><img src="{{ site.github.url }}/img/uniManchester.png"></a><br />
        <a href="https://www.gov.uk/dstl"><img src="{{ site.github.url }}/img/dstl_height.png"></a>
     </div>
     <div class="spacer">
     </div>
     <footer>
        <a href="{{ site.github.url }}/contact"><i class="flaticon-send"></i>Contact</a>
      </footer>
    </div>
    <main>
      {{ content }}
    </main>
  </body>
</html>
