<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="navContainer">
      <header>
<!--        <img src="img/jetStream_logo_header.png"> -->
	 <a href="{{ site.url }}/"><img class="center-block" src="{{ site.url }}/assets/images/welcome/ocra_200.png"></a>
      </header>
      <nav>
      <a href="{{ site.url }}/">OCRA MRI</a>
      <a href="{{ site.url }}/installation">Installation</a>
      <a href="{{ site.url }}/hardware">Hardware</a>
      <a href="{{ site.url }}/gui">GUI</a>
      </nav>      
     <div class="spacer">
     </div>
     <footer>
        <a href="mailto:sanand@mit.edu" target="_top"><i class="flaticon-send"></i>Contact</a>
      </footer>
    </div>
    <main>
      {{ content }}
    </main>
  </body>
</html>
